.SinglePost {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;


  p {
    // grid-column: 2 / span 2;
    grid-row: 2;
    text-align: left;
    line-height: 2.4rem;
    padding: 4px;
  }
  span {

    grid-row: 3;
    align-self: center;
  }

  .imgContainer{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    img {
      height: 150px;
      border-radius: 2px;
      border: 2px solid rgb(145, 196, 52);
      margin-top: 22px;
    }

  }

  button {
    width: 150px;
    align-self: center;
    justify-self: center;
    border: 4px solid white;
    &:hover{
      background: rgb(145, 196, 52);
      color: black;
    }
  }
}
