.SinglePost {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  .imgContainer{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    img {
      height: 150px;
      border-radius: 2px;
      border: 2px solid rgb(145, 196, 52);
      margin-top: 22px;
    }

  }

  span {
    grid-row: 3;
    align-self: center;
    border-top:1px solid #646464;
    width: 100%;
  }


  .titleSpan{
    font-weight: 500;
    color: rgb(145, 196, 52);
    font-size: 18px;
  }

  p {
    grid-row: 2;
    text-align: left;
    line-height: 2.4rem;
    padding: 4px;
    font-size: 18px;
  }


  button {
    width: 180px;
    align-self: center;
    justify-self: center;
    font-size: 18px;
    border:none;
    border-top: 3px solid rgb(145, 196, 52);
    background: white;
    &:hover{
      border-top: 3px solid black;
      color: black;
    }
  }
}
